<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>org.jfree.servlet.SimpleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SVGChartServlet</servlet-name>
        <servlet-class>org.jfree.servlet.SVGChartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OrsonServlet</servlet-name>
        <servlet-class>org.jfree.servlet.OrsonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SVGChartServlet</servlet-name>
        <url-pattern>/svgchart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrsonServlet</servlet-name>
        <url-pattern>/orson</url-pattern>
    </servlet-mapping>
</web-app>